<!DOCTYPE html>
<html>
    <head>
        <title>AnjularJS Tutorial</title>
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <div class="heading">
        </div>


        <div class="content">
            <div class="profile" div>
                <img src={{imageURL}} class="profile-pic-image">
                
                <a>Full Name</a>
                <a class="profile-anchor-text"> {{firstName}} {{lastName}}</a>
                
                <a>Email Address</a>
                <a class="profile-anchor-text">{{email}}</a>
                
                <a>Mobile Number</a>
                <a class="profile-anchor-text">{{phone}}</a>
                
                <a>Address</a> 
                <a class="profile-anchor-text">{{address}}</a>
            </div>

            <div class="description">
              <a>A little about me:</a> 
              <a class="description-anchor-text">{{bio}}</a>

              <div class="map-section">
                <a>I live here</a>
                <div id="map" class="map"></div>
              </div>
            </div>
        </div>
    </body>

</html>
